footer {
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: black;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  margin-top: 100px;
}

.inicio {
  margin-top: 40px;
}

.banner {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  align-content: center;
}